html {
  font-size: 16px;
}

header{ 
  text-align: center;
  display: block;
  padding-top: 2rem;
}

main {
  margin:auto;
}

/* FONTS*/

h1{
  font-weight:800;
  font-size: 2.25rem;
}

h2{
  font-weight: 700;
  font-size: 1.5rem;
}

h3{
  font-weight: 600;
  font-size: 1.25rem;
}

h1, h2, h3 {
 font-family: 'Maven Pro', sans-serif;
}

p{
  font-family: 'Patua One', cursive;
  font-weight: 400;
}

.font1{
  font-family: 'Maven Pro', sans-serif;
}

.font2{
  font-family: 'Patua One', cursive;
}


/*LAYOUT*/
.container{
  border: 2px solid black;
  padding: 5%;
  margin:10%;
  display: block;
  min-width: 300px;
  max-width: 900px;
  height: auto;
}

/*colors*/
.blue{
  background-color:#576EF0;
  padding:2%;
  display: inline-block;
}

.purple{
  background-color: #A96BF5;
  padding:2%;
  display: inline-block;
}

.palegreen{
  background-color: #9CE0BA;
  padding:2%;
  display:inline-block;
}

.darkgreen{
  background-color:  #005928;
  padding:2%;
  display:inline-block;
  color: #BDD0C4;
}

.lightgray{
  background-color: #BDD0C4;
  padding:2%;
  display:inline-block;
}
